
/* font-weight normal */
@font-face {
  font-family: sunich;
  font-style: normal;
  font-weight: normal;
  src: /* IE6-8 */ url("./sunich-regular-final\ version.ttf")
}

/* font-weight bold */
@font-face {
  font-family: sunich;
  font-style: normal;
  font-weight: bold;
  src: /* IE6-8 */ url("./sunich-bold-v2d.ttf")
}

