body {
  background-color: #692b6f;
}

/* stickyButton  */
.stickyButton {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 30%);
  z-index: 99;
  background-color: #3270a3;
  margin: 0;
}
/* first */
#first {
  background-image: url(../images/startBg.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#first .header .title {
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
  text-align: justify;
  text-align-last: center;
}
#first .header .caption {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-align: justify;
  text-align-last: right;
  padding: 0 16px;
}
#first .go {
  margin: 0 auto;
  position: relative;
}

/* second */
#form {
  background-image: url(../images/awards.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#form .title {
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
  margin: 0 auto;
}

#form .form {
  background: #ffffff;
  border-radius: 20px;
  text-align: center;
  text-align-last: center;
  padding: 16px 14px;
  margin: 0 17px;
}
#form .form .form-title {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  margin: 0 auto 16px;
}
#form .form #subscriber {
  margin: 0;
}
#form .form #subscriber .form-group {
  margin: 0 auto 8px;
}
#form .form #subscriber .form-group input {
  background: #ededed;
  border: 1px solid #dbdbdb;
  border-radius: 28px;
}
#form .form #subscriber .form-group input::placeholder {
  color: #8c8c8c;
  font-weight: 400;
  font-size: 14px;
}
#form .form #subscriber .btn-register {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #000000;
  background: #d75ae3;
  border-radius: 30px;
  margin: 4px auto 0;
}
.success-submit {
  color: greenyellow;
  text-align: center;
}
.success {
  color: greenyellow;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* third */
#third {
  background-image: url(../images/awards.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
#third .header .title {
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
  text-align: justify;
  text-align-last: center;
}

#third .form {
  background: #ffffff;
  border-radius: 20px;
  text-align: center;
  text-align-last: center;
  padding: 16px 14px;
  margin: 0 17px;
}
#third .form .form-title {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  margin: 0 auto 16px;
}
#third .form #subscriber {
  margin: 0;
}
#third .form #subscriber .form-group {
  margin: 0 auto 8px;
}
#third .form #subscriber .form-group input {
  background: #ededed;
  border: 1px solid #dbdbdb;
  border-radius: 28px;
}
#third .form #subscriber .form-group input::placeholder {
  color: #8c8c8c;
  font-weight: 400;
  font-size: 14px;
}

#timer {
  color: #8c8c8c;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-bottom: 7px;
}
#sendAgain {
  color: #8c8c8c;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  margin-bottom: 35px;
}
#third .form #subscriber .btn-register {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #000000;
  background: #d75ae3;
  border-radius: 30px;
  margin: 4px auto 0;
}
.success-submit {
  color: greenyellow;
  text-align: center;
}
.success {
  color: greenyellow;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .harmonyLogo {
  background: #561d5b;
  border-radius: 20px 20px 0px 0px;
  padding: 14px 57px;
  margin-top: 17px;
}

/* race styles*/
#race {
  height: 100%;
  width: 100%;
  padding: 20px 16px 32px;
  text-align: center;
  position: relative;
}
#race header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 43px;
  background: rgba(130, 73, 255, 0.1);
  border-radius: 20px;
  margin-bottom: 27px;
}
#race header .point {
  font-weight: 400;
  font-size: 12px;
  color: #692b6f;
  padding-right: 16px;
}
#race .caption {
  font-weight: 400;
  font-size: 16px;
  color: #692b6f;
  margin-bottom: 30px;
}
#race .product {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 228px;
}
.product:not(:first-of-type) {
  opacity: 0;
}
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* CHECKED STYLES */
/* [type="radio"]:checked + img {
  outline: 2px solid #f00;
} */

#race .product .left {
  background: #ff7686;
  border-radius: 0px 20px 20px 0px;
  width: 160px;
  text-align: right;
  text-align-last: right;
  padding-right: 16px;
  padding-top: 15px;
  position: relative;
  border: none;
}
#race .product .left img {
  position: absolute;
  top: 0;
  left: -22px;
}
#race .product .left p {
  text-align: right;
  text-align-last: right;
  margin: 0;
}
#race .product .right {
  background: #5cb1ff;
  border-radius: 20px 0px 0px 20px;
  width: 160px;
  text-align: left;
  text-align-last: left;
  padding-left: 16px;
  padding-top: 15px;
  position: relative;
  border: none;
}
#race .product .right img {
  position: absolute;
  top: 0;
  right: -22px;
}
#race .product .right p {
  text-align: left;
  text-align-last: left;
  margin: 0;
}

#race .product #percent {
  display: inline-block;
  color: #000000;
  font-weight: 300;
  font-size: 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 2px 8px;
  margin: 0;
}

#race .product p {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin-top: 20px;
}
#race #showResult {
  font-weight: 300;
  font-size: 14px;
  color: #692b6f;
  background: rgba(130, 73, 255, 0.1);
  border-radius: 20px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 2px 10px;
  margin: 14px auto;
}

/*progressbar*/
.progressbarBox {
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
#progressbar {
  margin-top: 30px;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#progressbar li {
  display: inline-block;
  width: auto;
}
#progressbar li:before {
  content: "";
  width: 52px;
  line-height: 20px;
  height: 5px;
  display: block;
  font-size: 10px;
  background: #c1c1c1;
  border-radius: 20px;
  margin: 0 auto 5px auto;
}
#progressbar li.active:before {
  background: #692b6f;
  color: white;
}

#progressbar li:after {
  content: "";
  width: 37px;
  height: 28px;
  display: block;
  margin: 0 auto 5px auto;
}

.section-progressbar {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.progressbarImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnBox {
  background-color: #d75ae3;
  border-radius: 30px;
  height: 50px;
  padding: 10px 70px;
  color: #000;
  font-weight: 700;
  font-size: 16px;
}

.box {
  transform: translate(-50%, -50%);
  padding: 0 70px;
  overflow: hidden;
  background-color: #d75ae3;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  /* position: absolute; */
  left: 0;
}

.box span {
  color: #000;
  font-weight: 700;
  font-size: 16px;
}

.box i {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 200px;
  background-color: inherit;
  box-shadow: inset 0 0 50px rgb(0 0 0 / 50%);
  transition: transform 0.4s linear, top 1s linear;
  overflow: hidden;
}

.box i:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -75%);
}

.box i:after {
  border-radius: 40%;
  background-color: #fff;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
