body {
  background: #f1e9ff;
  overflow: hidden;
  /* height: 100vh; */
}
#race {
  padding: 0 16px;
  margin-top: -160px;
  height: 1000px;
}

header {
  background: #692b6f;
  border-radius: 0px 0px 50px 50px;
  padding: 40px 15px 0;
  height: 320px;
}
header .headerLogo {
  height: 100%;
}
header .headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: rgba(130, 73, 255, 0.1);
  border-radius: 20px;
  width: 100%;
}
header .headerContent .point {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  padding-right: 16px;
}
.sunichLogo {
  max-width: 100%;
  max-height: 100%;
  padding: 10px 0;
}
#race .container {
  z-index: 1100;
}
#race .content {
  height: 100%;
  width: 100%;
  text-align: center;
  background: #ffffff;
  border-radius: 50px 50px 0px 0px;
  padding: 50px 230px 56px;
  position: relative;
  z-index: 1100;
}
#race .content .caption {
  font-weight: 400;
  font-size: 24px;
  color: #692b6f;
  margin-bottom: 60px;
}
#race .product {
  text-align: center;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#race .buttonsBox {
  height: 385px;
}
/* #race .product button:active {
  transform: scale(1.3);
  transition-duration: 1s;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
} */
.product:not(:first-of-type) {
  opacity: 0;
}
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#race .product .left {
  border-radius: 0px 20px 20px 0px;
  width: 385px;
  text-align: right;
  text-align-last: right;
  /* padding-right: 16px; */
  padding-right: 0;
  padding-top: 15px;
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 8px;
}
#race .product .left img {
  position: absolute;
  top: -20px;
  left: -45px;
  z-index: 10;
}
#race .product .left p {
  text-align: right;
  text-align-last: right;
  margin: 0 18 0 0;
}
#race .product .right {
  border-radius: 20px 0px 0px 20px;
  width: 385px;
  text-align: left;
  text-align-last: left;
  /* padding-left: 16px; */
  padding-left: 0;
  padding-top: 15px;
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 8px;
}
#race .product .right img {
  position: absolute;
  top: -20px;
  right: -40px;
  z-index: 10;
}
#race .product .right p {
  text-align: left;
  text-align-last: left;
  margin: 0;
  margin-left: 38px;
}

#race .bg-step1 .right {
  background: #5cb1ff;
}
#race .bg-step1 .left {
  background: #ff7686;
}
#race .bg-step2 .right {
  background: #cc4732;
}
#race .bg-step2 .left {
  background: #9e0014;
}
#race .bg-step3 .right {
  background: #74c65a;
}
#race .bg-step3 .left {
  background: #ff9100;
}
#race .bg-step4 .right {
  background: #c48e2a;
}
#race .bg-step4 .left {
  background: #9e134f;
}
#race .bg-step5 .right {
  background: #72d9d0;
}
#race .bg-step5 .left {
  background: #dfd228;
}

#race .product #percent {
  display: inline-block;
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 2px 8px;
  margin: 0;
}

#race .product p {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  margin-top: 20px;
}

/* number */
.number {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  right: 2%;
  top: 50%;
  width: 82px;
  height: 130px;
}
.number p {
  width: 60px;
  height: 60px;
  color: #692b6f;
  border: 1.05196px solid #682467;
  border-radius: 50%;
  font-weight: 700;
  font-size: 24.6803px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number p #currentNumber {
  color: #dd1c18;
  font-weight: 700;
  font-size: 35.2576px;
}

.section-progressbar {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.progressbarImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
}
#particles-js canvas {
  max-height: 280px;
}
#btnParticles-js {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  #particles-js {
    width: 90%;
  }
  #particles-js canvas {
    max-height: 163px;
  }
  header {
    height: 163px;
    padding: 20px 15px;
  }
  header .container {
    padding: 0;
  }
  header .headerContent .point span {
    font-size: 12px;
    font-weight: 400;
  }
  header .headerContent {
    height: 43px;
  }
  #race {
    margin-top: -50px;
    height: unset;
    padding: 0;
  }
  #race .container {
    padding: 0 15px 15px;
  }
  #race .content {
    border-radius: 20px;
    position: relative;
    width: 100%;
    padding: 20px 16px 32px;
    padding: 29px 16px 38px;
  }
  #race .content .caption {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #41375a;
    margin-bottom: 47px;
    margin-top: 0;
  }
  #race .product p {
    font-size: 14px;
  }
  #race .product .right img,
  #race .product .left img {
    max-width: 100%;
    max-height: 100%;
  }
  #race .buttonsBox {
    height: 228px;
    padding: 0px 16px;
  }
  #race .product #percent {
    font-size: 9px;
  }

  #race .product .left img {
    position: absolute;
    top: 0;
    left: -22px;
  }
  #race .product .right img {
    position: absolute;
    top: 0;
    right: -22px;
  }
  #race .product .right p {
    margin-left: 10px;
  }
  #race .product .left p {
    margin-right: 10px;
  }
  /*progressbar*/

  .progressbarBox {
    width: 100%;
    position: absolute;
    bottom: 50%;
    right: 0%;
  }
  #progressbar {
    margin-top: 30px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  #progressbar li {
    display: inline-block;
    width: auto;
  }
  #progressbar li:before {
    content: "";
    width: 52px;
    line-height: 20px;
    height: 2px;
    display: block;
    font-size: 10px;
    background: #c1c1c1;
    border-radius: 20px;
    margin: 0 auto 5px auto;
  }
  #progressbar li.active:before {
    background: #692b6f;
    color: white;
  }

  #progressbar li:after {
    content: "";
    width: 37px;
    height: 28px;
    display: block;
    margin: 0 auto 5px auto;
  }

  .progressbarBox {
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
  }
  /* number */
  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: unset;
    right: unset;
    top: unset;
    width: unset;
    height: unset;
  }
  .number p {
    width: 37px;
    height: 37px;
    font-size: 13.8451px;
  }
  .number p #currentNumber {
    font-size: 19.7787px;
  }
  .number.desktop{
    display: none;
  }
}
