body {
  background-color: #692b6f;
}

/* ------------------------------- top ------------------------------- */

#top {
  background-image: url(../images/resultBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  padding-bottom: 100px;
}
#top .content {
  max-width: 60%;
}

#top .title,
#saku .title {
  font-family: "sunich";
  font-size: 50px;
  color: #ffffff;
  text-align: justify;
  margin-bottom: 0px;
}
.score {
  color: #d75ae3;
}
#top .caption {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-align: justify;
  text-align-last: right;
  margin: 15px 0 25px;
}
.timer-Btn {
  display: flex;
}

.wave-btnBox {
  height: 100px;
  width: 330px;
  position: relative;
}
.wave-btnBox span {
  position: relative;
  font-weight: 700;
  font-size: 16px;
}

.wave-btn {
  color: #000000;
  background: #fff;
  padding: 17px 30px;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 1s;
  width: 100%;
  text-align: center;
}

.wave-btn:before {
  content: "";
  position: absolute;
  width: 400px;
  height: 300px;
  border-radius: 130px;
  background-color: #d75ae3;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  animation: wave 10s infinite linear;
  transition: all 1s;
}

@keyframes wave {
  0% {
    transform: translate(-50%) rotate(-180deg);
  }

  100% {
    transform: translate(-50%) rotate(360deg);
  }
}
/* ------------------------------- saku ------------------------------- */
#saku {
  padding-bottom: 50px;
}
#saku .showInfo {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 35px;
}
#saku .showInfo p {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-left: 11px;
}
#saku .tick-label.tick-text {
  color: #fff;
}
#saku header .headerContent {
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(130, 73, 255, 0.1);
  border-radius: 20px;
  width: 100%;
}
#saku header .headerContent .point {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  padding-right: 16px;
}
#saku header .headerContent img {
  max-height: 100%;
}
#saku .sakuImg {
  display: flex;
  align-items: flex-end;
}

/* ------------------------------- resultTable ------------------------------- */

#resultTable {
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  border-radius: 60px 60px 0px 0px;
  margin-top: -50px;
  padding-bottom: 35px;
  padding-top: 60px;
}
#resultTable #pills-tab {
  margin-bottom: 60px;
}
#resultTable #pills-tab {
  justify-content: center;
}
#resultTable .nav-item {
  margin-left: 6px;
  margin-right: 6px;
}
#resultTable .nav-pills .nav-link {
  background: rgba(53, 27, 111, 0.05);
  color: #989898;
  border-radius: 30px;
  padding: 12px 37px;
  font-weight: 400;
  font-size: 17px;
}
#resultTable .nav-pills .nav-link.active {
  background: #ffffff;
  color: #692b6f;
  border-bottom: 1px solid #692b6f;
  font-weight: 700;
}
#resultTable .showInfo {
  margin-bottom: 40px;
}
#resultTable .showInfo,
#resultTable .showInfo .right,
#resultTable .showInfo .left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
#resultTable .showInfo .left .showTable {
  display: flex;
  align-items: center;
  color: #692b6f;
}

#resultTable .showInfo p {
  color: #692b6f;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 0;
  margin-left: 10px;
}
.timer {
  display: flex;
  align-items: center;
}
.tick-label.tick-text {
  color: #623bca;
  font-size: 12px;
  font-weight: 700;
  margin-top: 5px;
}

.tick .tick-group:nth-child(1) {
  display: none;
}

.tick {
  font-size: 20px;
  font-family: iranYekan;
  direction: ltr;
}

.tick-group {
  margin: 0 0.25em;
  text-align: center;
}
.tick-credits {
  display: none;
}
/* .tick-flip {
  background: #fff;
} */

#resultTable .tick-flip-panel {
  color: #fff;
}
#saku .tick-flip-panel {
  color: #fff;
  background-color: transparent;
}

#resultTable .tick-label.tick-text {
  color: #000000;
}

#resultTable .tab-content .tab-pane .lines {
  background: #f5f3f8;
  box-shadow: 0px 5.94976px 13.387px rgba(105, 43, 111, 0.13);
  border-radius: 22.3116px;
  margin: 0 0 23px;
  padding: 0;
}
#resultTable .tab-content .tab-pane .lines .rangBox {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgb(105 43 111 / 13%);
  border-radius: 20px;
  height: 43px;
}
#resultTable .tab-content .tab-pane .lines .rangBox .right {
  direction: ltr;
}
#resultTable .tab-content .tab-pane .lines .rangBox .progress {
  background: linear-gradient(
    to right,
    #692b6f 0%,
    #692b6f 40%,
    rgba(105, 43, 111, 0.15) 40%,
    rgba(105, 43, 111, 0.15) 100%
  );
  border-radius: 8px;
  height: 5px;
  width: 60%;
  outline: none;
  -webkit-appearance: none;
}

#resultTable
  .tab-content
  .tab-pane
  .lines
  .rangBox
  .progress::-webkit-slider-thumb {
  display: none;
}
#resultTable .tab-content .tab-pane .lines .rangBox .percent {
  color: #623bca;
  font-weight: 300;
  font-size: 14px;
  margin: 0 10px;
}
#resultTable .tab-content .tab-pane .lines .rangBox div {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}
#resultTable .tab-content .tab-pane .lines .goNextBox {
  display: flex;
  align-items: center;
  padding: 13px 9px;
  color: #090000;
}
#resultTable .tab-content .tab-pane .lines .goNextBox p {
  color: #090000;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 0;
}
#resultTable .tab-content .tab-pane .lines .goNextBox .goNextTitle {
  color: #090000;
  font-weight: 700;
  font-size: 17px;
  margin-right: 7px;
}
#resultTable .tab-content .tab-pane .lines .colorBox {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  text-align: center;
  position: relative;
}
#resultTable .tab-content .tab-pane .lines .colorBox img {
  position: absolute;
  top: -12%;
  right: 40%;
}
#resultTable .tab-content .tab-pane .line1 .right .colorBox {
  background: #5cb1ff;
}
#resultTable .tab-content .tab-pane .line1 .left .colorBox {
  background: #ff7686;
}
#resultTable .tab-content .tab-pane .line2 .right .colorBox {
  background: #cc4732;
}
#resultTable .tab-content .tab-pane .line2 .left .colorBox {
  background: #9e0014;
}
#resultTable .tab-content .tab-pane .line3 .right .colorBox {
  background: #74c65a;
}
#resultTable .tab-content .tab-pane .line3 .left .colorBox {
  background: #ff9100;
}
#resultTable .tab-content .tab-pane .line4 .right .colorBox {
  background: #5cb1ff;
}
#resultTable .tab-content .tab-pane .line4 .left .colorBox {
  background: #9e134f;
}
#resultTable .tab-content .tab-pane .line5 .right .colorBox {
  background: #72d9d0;
}
#resultTable .tab-content .tab-pane .line5 .left .colorBox {
  background: #dfd228;
}
.seeTable {
  text-align: center;
  margin-top: 40px;
}
.seeTable a {
  color: #692b6f;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#resultTable .results {
  display: flex;
  justify-content: center;
}
#resultTable .results div {
  width: 180px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 4px 9px rgba(105, 43, 111, 0.13);
  margin: 0 15px;
}
#resultTable .results .first {
  background: #72d9d0;
}
#resultTable .results .second {
  background: #ff7685;
}
#resultTable .results .third {
  background: #9e134f;
}
#resultTable .results img {
  width: 100%;
}
#resultTable .results .title {
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 6px;
  margin-top: 8px;
}
#resultTable .results .percent {
  display: inline-block;
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 3px 14px;
}

@media screen and (max-width: 768px) {
  header {
    padding-top: 20px;
  }
  header .headerContent {
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(130, 73, 255, 0.1);
    border-radius: 20px;
    width: 100%;
  }
  header .headerContent .point {
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    padding-right: 16px;
  }
  header .headerContent img {
    max-height: 100%;
  }
  /* ------------------------------- saku ------------------------------- */
  #saku {
    padding: 0px;
  }
  #saku .title {
    text-align: center;
    font-size: 20px;
  }
  #saku .showInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
  }
  #saku .showInfo p {
    margin-left: 0;
    font-size: 12px;
  }
  #saku .wave-btnBox {
    margin: 0 auto;
  }
  /* ------------------------------- top ------------------------------- */

  #top {
    background-image: url(../images/resultBgM.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 600px;
    position: relative;
    padding-bottom: 0;
  }
  #top .title {
    font-family: "sunich";
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0;
  }
  #top .score {
    color: red;
  }
  #top .content {
    max-width: 100%;
    text-align: center;
  }
  #top .showInfo {
    text-align: center;

    font-weight: 400;
    font-size: 20px;
  }
  #top .caption {
    font-weight: 300;
    font-size: 12px;
    margin: 21px 0 15px;
  }
  #top .timer-Btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #top .timer-Btn .timer {
    max-width: 70%;
    margin: 0 auto;
  }

  #top .wave-btnBox {
    position: absolute;
    bottom: 9%;
    left: 0;
    width: 100%;
    height: auto;
  }

  /* ------------------------------- bottom ------------------------------- */
  #bottom {
    margin-top: -150px;
  }
  #resultTable {
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 17px;
    padding-top: 22px;
    margin-top: 0;
  }
  #resultTable .nav-pills {
    overflow: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
  ul#pills-tab::-webkit-scrollbar {
    display: none;
  }
  #resultTable .nav-pills .nav-link {
    background: rgba(53, 27, 111, 0.05);
    padding: 8px 24px;
    border-radius: 20px;
    color: #989898;
    font-weight: 400;
    font-size: 12px;
  }
  #resultTable .nav-item {
    margin-left: 4px;
    margin-right: 4px;
  }
  #resultTable #pills-tab {
    margin-bottom: 27px;
    justify-content: right;
  }
  #resultTable .showInfo .left {
    display: none;
  }
  #resultTable .showInfo {
    align-items: center;
    justify-content: center;
  }

  #resultTable .showInfo p {
    font-size: 12px;
  }
  #resultTable .tick-group {
    font-size: 12px;
  }
  #resultTable .tab-content {
    padding: 0 16px;
  }
  #resultTable .tab-content .tab-pane .lines {
    background: #f5f3f8;
    box-shadow: 0px 4px 9px rgba(105, 43, 111, 0.13);
    border-radius: 22.3116px;
    margin: 0 0 16px;
    padding: 0;
  }
  #resultTable .tab-content .tab-pane .lines .colorBox {
    width: 29px;
    height: 29px;
    box-shadow: 0px 4px 9px rgba(105, 43, 111, 0.13);
    position: relative;
  }
  #resultTable .tab-content .tab-pane .lines .colorBox img {
    position: absolute;

    top: -35%;
    right: 35%;
  }
  #resultTable .tab-content .tab-pane .lines .rangBox {
    height: 30px;
  }
  #resultTable .tab-content .tab-pane .lines .rangBox .progress {
    border-radius: 8px;
    height: 2px;
    width: 70%;
    outline: none;
    -webkit-appearance: none;
  }
  #resultTable .tab-content .tab-pane .lines .rangBox .percent {
    font-size: 10px;
    margin: 0 6px;
  }
  #resultTable .tab-content .tab-pane .lines .goNextBox p {
    font-weight: 300;
    font-size: 12px;
  }
  #resultTable .tab-content .tab-pane .lines .goNextBox .goNextTitle {
    font-weight: 700;
    font-size: 12px;
  }
  #resultTable .results {
    display: flex;
    justify-content: space-between;
  }
  #resultTable .results .title {
    font-size: 12px;
  }
  #resultTable .results .percent {
    font-size: 10px;
    padding: 2px 8px;
  }
  #resultTable .results div {
    width: 31%;
    margin: unset;
  }
  .seeTable a {
    font-size: 14px;
  }
  .seeTable {
    margin-top: 20px;
  }
}
