body {
  background-color: #692b6f;
}

/* top */

#top {
  background-image: url(../images/resultBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  padding-bottom: 100px;
}
#top .content {
  max-width: 60%;
}
#top .sunichLogo {
  margin-bottom: 92px;
}
#top .title {
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  text-align: justify;
}
#top .score {
  color: #d75ae3;
}
#top .caption {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-align: justify;
  text-align-last: right;
  margin: 15px 0 40px;
}
#top .timer-Btn {
  display: flex;
}

#top .wave-btnBox {
  height: 100px;
  width: 330px;
  position: relative;
}
#top .wave-btnBox span {
  position: relative;
  font-weight: 700;
  font-size: 16px;
}

.wave-btn {
  color: #000000;
  background: #fff;
  padding: 17px 30px;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 1s;
  width: 100%;
  text-align: center;
}

.wave-btn:before {
  content: "";
  position: absolute;
  width: 400px;
  height: 300px;
  border-radius: 130px;
  background-color: #d75ae3;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  animation: wave 10s infinite linear;
  transition: all 1s;
}

@keyframes wave {
  0% {
    transform: translate(-50%) rotate(-180deg);
  }

  100% {
    transform: translate(-50%) rotate(360deg);
  }
}

/* ------------------------------- resultTable ------------------------------- */

#resultTable {
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  border-radius: 60px 60px 0px 0px;
  margin-top: -50px;
  padding-bottom: 0;
}
#resultTable #pills-tab {
  margin-bottom: 27px;
}
#resultTable #pills-tab {
    justify-content: center;
}

#resultTable .nav-pills .nav-link {
  background: rgba(53, 27, 111, 0.05);
  border-radius: 20px;
  color: #989898;
  font-weight: 400;
  font-size: 12px;
}
#resultTable .nav-pills .nav-link.active {
  background: #ffffff;
  color: #692b6f;
  border-bottom: 1px solid #692b6f;
  box-shadow: 0px -1px 9px rgba(105, 43, 111, 0.13);
  border-radius: 20px;
  font-weight: 700;
  font-size: 12px;
}
#resultTable .tab-content .title {
  color: #692b6f;
  font-weight: 700;
  font-size: 12px;
}
#resultTable .tab-content .tab-pane .lines {
  background: #f5f3f8;
  box-shadow: 0px 4px 9px rgba(105, 43, 111, 0.13);
  border-radius: 15px;
  margin-bottom: 14px;
}
#resultTable .tab-content .tab-pane .lines .rangBox {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgb(105 43 111 / 13%);
  border-radius: 20px;
  margin: 0 5px;
}
#resultTable .tab-content .tab-pane .lines .rangBox .right {
  direction: ltr;
}
#resultTable .tab-content .tab-pane .lines .rangBox .progress {
  background: linear-gradient(
    to right,
    #692b6f 0%,
    #692b6f 40%,
    rgba(105, 43, 111, 0.15) 40%,
    rgba(105, 43, 111, 0.15) 100%
  );
  border-radius: 8px;
  height: 5px;
  width: 100px;
  outline: none;
  -webkit-appearance: none;
}

#resultTable
  .tab-content
  .tab-pane
  .lines
  .rangBox
  .progress::-webkit-slider-thumb {
  display: none;
}
#resultTable .tab-content .tab-pane .lines .rangBox .percent {
  color: #623bca;
  font-weight: 300;
  font-size: 10px;
}
#resultTable .tab-content .tab-pane .lines .rangBox div {
  display: flex;
  align-items: center;
  align-content: center;
}
#resultTable .tab-content .tab-pane .lines .goNextBox {
  display: flex;
  align-items: center;
  padding: 13px 9px;
}
#resultTable .tab-content .tab-pane .lines .goNextBox p {
  color: #090000;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 0;
}
#resultTable .tab-content .tab-pane .lines .goNextBox .goNextTitle {
  color: #090000;
  font-weight: 700;
  font-size: 12px;
}
#resultTable .tab-content .tab-pane .lines .colorBox {
  width: 29px;
  height: 29px;
  box-shadow: 0px 4px 9px rgba(105, 43, 111, 0.13);
  border-radius: 50%;
  text-align: center;
}
#resultTable .tab-content .tab-pane .line1 .right .colorBox {
  background: #5cb1ff;
}
#resultTable .tab-content .tab-pane .line1 .left .colorBox {
  background: #ff7686;
}
#resultTable .tab-content .tab-pane .line2 .right .colorBox {
  background: #cc4732;
}
#resultTable .tab-content .tab-pane .line2 .left .colorBox {
  background: #9e0014;
}
#resultTable .tab-content .tab-pane .line3 .right .colorBox {
  background: #74c65a;
}
#resultTable .tab-content .tab-pane .line3 .left .colorBox {
  background: #ff9100;
}
#resultTable .tab-content .tab-pane .line4 .right .colorBox {
  background: #5cb1ff;
}
#resultTable .tab-content .tab-pane .line4 .left .colorBox {
  background: #9e134f;
}
#resultTable .tab-content .tab-pane .line5 .right .colorBox {
  background: #72d9d0;
}
#resultTable .tab-content .tab-pane .line5 .left .colorBox {
  background: #dfd228;
}
.seeTable {
  text-align: center;
}
.seeTable a {
  color: #692b6f;
  font-weight: 700;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  header {
    padding-top: 20px;
  }
  header .headerContent {
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(130, 73, 255, 0.1);
    border-radius: 20px;
    width: 100%;
  }
  header .headerContent .point {
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    padding-right: 16px;
  }

  #top {
    background-image: url(../images/resultBgM.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 600px;
    position: relative;
    padding-bottom: 0;
  }
  #top .content {
    max-width: 100%;
    text-align: center;
  }
  #top .title {
    text-align: center;

    font-weight: 400;
    font-size: 20px;
  }
  #top .titleImg {
    max-width: 60%;
  }
  #top .caption {
    font-weight: 400;
    font-size: 12px;
    margin: 21px 0 15px;
  }
  #top .timer-Btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #top .timer-Btn .timer {
    max-width: 70%;
    margin: 0 auto;
  }

  #top .wave-btnBox {
    position: absolute;
    bottom: 9%;
    left: 0;
    width: 100%;
    height: auto;
  }

  /* ------------------------------- bottom ------------------------------- */
  #bottom {
    margin-top: -150px;
  }
  #resultTable {
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 17px;
    margin-top: 0;
  }
}
